
th  {
	background-color: green;
	color: #fff;
	}
td:hover{ background:#f2f2f2;}


table{
		border: 3px solid yellow;
		border-radius: 5px;
		width: 90%;
		text-align: center;
		margin: auto; 
	}
nav{ position:sticky; 
		background-color: #04AA6D;
/*		width: 100%;*/
		padding: 5px;
		display: flex;
		justify-content: space-between;
}
	nav h1{
		color: #fff;
		font-family: arial black;
		font-size: 20px;
	}
	nav a{
		font-size: 20px;
		color:#fff;
		margin: auto;
		text-align: center;
		text-decoration: none;
		padding: 5px;
	}
	nav a:hover{
		color: red;
		font-weight: bold ;
		text-decoration: underline;
	}
	nav div{
		margin: auto;
	}
	ul{
		list-style-type: disc;
	}